<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify otp</title>
    <style>
        body{
            background-color: black;
            color: white;
            height: fit-content;
            width: fit-content;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <div class="container">
    <form action="" method="POST">
        {% csrf_token %}
    Enter OTP for verification : <input type="" name="otp" id="">
    <button  type="submit">submit</button>
    </form>
    </div>
</body>
</html>